*, *:after, *:before {
	box-sizing: border-box;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 3em;
    color: #000;
    margin-right: 10em;
    
}


h2 {
	margin: .5em;
	color: #000;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 1em;

	
}

ul {
    list-style: none;
    float: right;
}

ul li {
    list-style: none;
    margin: 0;

    
}

a {
    text-decoration: none;
    color: #db0f16;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 2em;
}

input[type=text] {
    background-color: #000;
    color: white;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #000;
    border: none;
    color: white;
    padding: 40px 40px;
    text-decoration: none;
    margin: 4px 28px;
    cursor: pointer;
}
